.button-component {
  min-width: 15rem;
  letter-spacing: 0.12rem;
  line-height: 3.12rem;
  padding: 0.2rem 1.8rem;
  font-size: 0.9rem;

  background-color: var(--primary);
  color: var(--secundary);

  text-transform: uppercase;
  font-family: "Open Sans Condensed";

  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  transition: all 200ms ease;

  &:hover {
    background-color: var(--secundary);
    color: var(--primary);
  }
}

.outline {
  outline: 1px solid var(--primary);
  &:hover {
    outline: 1px solid var(--primary);
  }
}
