.sign-up {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  padding: 1rem;

  &__title {
    margin-block-end: 0.8rem;
  }

  &__success {
    position: absolute;
    top: 18%;
    right: 0;
    color: olivedrab;
    font-weight: 600;
    letter-spacing: 0.2rem;
  }
}
